ul {
  list-style-type: none;
}

body {
  background-color: #FFB9B0;
  margin: 2.5%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  text-shadow: .2px 2px 4px #B25E53;
  text-align: center;
  margin-top: -5px;
}

#salmon {
  display: block;
  margin: auto;
  width: 330px;
  margin-top: 15px;
}

#salmonContainer {
  background-color: #FFD5DA;
  border-radius: 50%;
  width: 500px;
  height: 200px;
  margin:auto;
  padding: 5px;
}

#body {
  width: auto;
  height: auto;
}

#addStore {
  float: left;
  margin: 3px;
  font-family: 'Montserrat', sans-serif;
}

#nameinput {
  width: 220px;
}

#mincustomer {
  width: 148px;
}

#maxcustomer {
  width: 145px;
}

#avgcookie {
  width: 153px;
}

input {
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: #B2B2B2;
}

table{
    background-color: #FAFFFC;
    position: right, absolute;
    border: 0;
    background-color:;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

table td {
    border: 1px solid #B2B2B2;
}
