ul {
  list-style-type: none;
}

body {
  background-color: #FFB9B0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  text-shadow: .2px 2px 4px #B25E53;
  text-align: center;
}

#addStore {
  float: left;
  margin: 3px;
  font-family: 'Montserrat', sans-serif;
}

#nameinput {
  width: 220px;
}

#mincustomer {
  width: 148px;
}

#maxcustomer {
  width: 145px;
}

#avgcookie {
  width: 153px;
}

input {
  margin-bottom: 5px;
  border-radius: 5px;
  border-color: #B2B2B2;
}

table{
    background-color: #FAFFFC;
    position: right, absolute;
    border: 0;
    background-color:;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

table td {
    border: 1px solid #B2B2B2;
}
